 
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f2f5;
    color: #333;
}

 
header {
    background-color: #04af5f;
    color: #fff;
    padding: 20px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

header .logo img {
    margin: 0 auto;
    width: 100px;
    border-radius: 60px;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    
}

header nav ul li {
    margin-right: 35px;
    list-style: none;
    display: inline-block;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
    padding: 5px 10px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

header nav ul li a:hover {
    background-color: #028f4d;
    color: #fff;
    border-radius: 5px;
}


.contact-container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.contact-container h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
    color: #04af5f;
}

.contact-container p {
    font-size: 1.1rem;
    color: #555;
    margin-bottom: 20px;
}

 
.contact-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form-group {
    text-align: left;
}

.form-group label {
    font-size: 1rem;
    color: #333;
    margin-bottom: 5px;
    display: block;
}

.form-group input,
.form-group textarea {
    width: 100%;
 padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

.form-group input:focus,
.form-group textarea:focus {
    border-color: #007bff;
    outline: none;
}

.submit-button {
    padding: 10px 15px;
    background-color: #04af5f;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
}

.submit-button:hover {
    background-color: #0056b3;
}

/* Footer Styles */
footer {
    text-align: center;
    padding: 20px;
    background-color: #ffffff;
    position: relative;
    bottom: 0;
    width: 100%;
}