header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #04af5f;
    padding: 1px 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;


}


header .logo img {
    height: 95px;
    width: 95px;
    padding: 10%;
    border-radius: 60px;
}

nav ul li {
    margin-right: 35px;
    list-style: none;
    display: inline-block;


}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    display: flex;
    font-size: 25px;
    padding: 5px 10px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

nav ul li a:hover {
    background-color: #028f4d;
    color: #fff;
    border-radius: 5px;
}



 



body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("Assets/pexels-shkrabaanthony-5214951.jpg");
    background-size: cover;
    background-position: center;
    

}



.signup-container {
    background-color: #fff;
    padding: 40px;
    padding-bottom: 155px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    width: 300px;
    height: 350px;
    margin-top: 95px;

}

.signup-container h2 {
    text-align: center;
    margin-bottom: 20px;
}

.signup-container label {
    display: block;
    margin-bottom: 5px;
}

.signup-container input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 30px;
}

.signup-container button {
    width: 100%;
    padding: 10px;
    background-color: #04af5f;
    color: #fff;
    border: none;
    border-radius: 30px;
    cursor: pointer;
}

.signup-container .terms {
    align-items: center;
    margin-bottom: 10px;
    display: flex;
    display: inline-block;
}

.signup-container .terms input {
    margin-right: 8px;
}

.signup-container .login-link {
    text-align: center;
    margin-top: 10px;
}

.signup-container .login-link a {
    color: #007BFF;
    text-decoration: none;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #f8f9fa;
    padding: 5px;
    text-align: center;
}